*{
    margin: 0PX;
    padding:0px;
    background-color:black;
    color: white;
    
   
}

.class1{
    width: 981.33px;
    height: 60px;
    border-style: solid;
    border-color: white;
}
     