*{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

table {
    border-style: solid;
    border-color: brown;
    width: 600px;
    height: 300px;
    margin-top: 0px;
    border-width: 3px;
}

th, td{
    border-style: solid;
    border-color: yellow;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    background-color:transparent;
    border-collapse: collapse;
    
}


